In [1]:
import pandas as pd
from sqlalchemy import create_engine

source: https://aqs.epa.gov/aqsweb/airdata/download_files.html#AQI

# Extract

#### Overall AQI by County

In [2]:
aqi_1995_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_1995.csv')
aqi_2000_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_2000.csv')
aqi_2005_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_2005.csv')
aqi_2010_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_2010.csv')
aqi_2015_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_2015.csv')
aqi_2020_df = pd.read_csv('../../resources/annual_aqi_by_county/annual_aqi_by_county_2020.csv')

#### AQI by County (measurements)

In [3]:
aqi_1995ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_1995.csv')
aqi_2000ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_2000.csv')
aqi_2005ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_2005.csv')
aqi_2010ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_2010.csv')
aqi_2015ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_2015.csv')
aqi_2020ms_df = pd.read_csv('../../resources/daily_aqi_by_county/daily_aqi_by_county_2020.csv')

C:\Users\ucibc\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Transform Data

## Drop empty rows

In [4]:
# Drop empty rows
aqi_1995_df.dropna(how='any', inplace=True)
aqi_2000_df.dropna(how='any', inplace=True)
aqi_2005_df.dropna(how='any', inplace=True)
aqi_2010_df.dropna(how='any', inplace=True)
aqi_2015_df.dropna(how='any', inplace=True)
aqi_2020_df.dropna(how='any', inplace=True)

aqi_1995ms_df.dropna(how='any', inplace=True)
aqi_2000ms_df.dropna(how='any', inplace=True)
aqi_2005ms_df.dropna(how='any', inplace=True)
aqi_2010ms_df.dropna(how='any', inplace=True)
aqi_2015ms_df.dropna(how='any', inplace=True)
aqi_2020ms_df.dropna(how='any', inplace=True)

## drop columns

In [5]:
aqi_1995_df.columns

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [6]:
aqi_1995ms_df.columns

Index(['State Name', 'county Name', 'State Code', 'County Code', 'Date', 'AQI',
       'Category', 'Defining Parameter', 'Defining Site',
       'Number of Sites Reporting'],
      dtype='object')

In [7]:
new_aqi_1995_df = aqi_1995_df[['State','County','Year','Max AQI']]
new_aqi_2000_df = aqi_2000_df[['State','County','Year','Max AQI']]
new_aqi_2005_df = aqi_2005_df[['State','County','Year','Max AQI']]
new_aqi_2010_df = aqi_2010_df[['State','County','Year','Max AQI']]
new_aqi_2015_df = aqi_2015_df[['State','County','Year','Max AQI']]
new_aqi_2020_df = aqi_2020_df[['State','County','Year','Max AQI']]

In [8]:
new_aqi_1995ms_df = aqi_1995ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]
new_aqi_2000ms_df = aqi_2000ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]
new_aqi_2005ms_df = aqi_2005ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]
new_aqi_2010ms_df = aqi_2010ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]
new_aqi_2015ms_df = aqi_2015ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]
new_aqi_2020ms_df = aqi_2020ms_df[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter',]]

In [9]:
new_aqi_2020ms_df.head()

  State Name county Name        Date  AQI Defining Parameter
0    Alabama     Baldwin  2020-01-01   48              PM2.5
1    Alabama     Baldwin  2020-01-04   13              PM2.5
2    Alabama     Baldwin  2020-01-07   14              PM2.5
3    Alabama     Baldwin  2020-01-10   39              PM2.5
4    Alabama     Baldwin  2020-01-13   29              PM2.5

## Rename columns

In [10]:
new_aqi_1995_df = new_aqi_1995_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

new_aqi_2000_df = new_aqi_2000_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

new_aqi_2005_df = new_aqi_2005_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

new_aqi_2010_df = new_aqi_2010_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

new_aqi_2015_df = new_aqi_2015_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

new_aqi_2020_df = new_aqi_2020_df.rename(columns={'State':'state_name',
                                                 'County':'county_name',
                                                 'Year':'years',
                                                 'Max AQI':'aqi'})

In [11]:
new_aqi_1995ms_df = new_aqi_1995ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name',
                                                      'Date':'dates',
                                                      'AQI':'aqi',
                                                      'Defining Parameter':'defining_parameter'})

new_aqi_2000ms_df = new_aqi_2000ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name', 
                                                      'Date':'dates', 
                                                      'AQI':'aqi', 
                                                      'Defining Parameter':'defining_parameter'})

new_aqi_2005ms_df = new_aqi_2005ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name', 
                                                      'Date':'dates', 
                                                      'AQI':'aqi', 
                                                      'Defining Parameter':'defining_parameter'})

new_aqi_2010ms_df = new_aqi_2010ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name', 
                                                      'Date':'dates', 
                                                      'AQI':'aqi', 
                                                      'Defining Parameter':'defining_parameter'})

new_aqi_2015ms_df = new_aqi_2015ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name', 
                                                      'Date':'dates', 
                                                      'AQI':'aqi', 
                                                      'Defining Parameter':'defining_parameter'})

new_aqi_2020ms_df = new_aqi_2020ms_df.rename(columns={'State Name':'state_name', 
                                                      'county Name':'county_name', 
                                                      'Date':'dates', 
                                                      'AQI':'aqi',
                                                      'Defining Parameter':'defining_parameter'})

In [12]:
new_aqi_2020_df.head()

  state_name county_name  years  aqi
0    Alabama     Baldwin   2020   74
1    Alabama        Clay   2020   86
2    Alabama      DeKalb   2020   90
3    Alabama      Elmore   2020   47
4    Alabama      Etowah   2020   92

In [13]:
new_aqi_2020ms_df.head()

  state_name county_name       dates  aqi defining_parameter
0    Alabama     Baldwin  2020-01-01   48              PM2.5
1    Alabama     Baldwin  2020-01-04   13              PM2.5
2    Alabama     Baldwin  2020-01-07   14              PM2.5
3    Alabama     Baldwin  2020-01-10   39              PM2.5
4    Alabama     Baldwin  2020-01-13   29              PM2.5

In [14]:
new_aqi_1995_df.set_index('state_name', inplace=True)
new_aqi_2000_df.set_index('state_name', inplace=True)
new_aqi_2005_df.set_index('state_name', inplace=True)
new_aqi_2010_df.set_index('state_name', inplace=True)
new_aqi_2015_df.set_index('state_name', inplace=True)
new_aqi_2020_df.set_index('state_name', inplace=True)

In [15]:
new_aqi_2020_df.head()

           county_name  years  aqi
state_name
Alabama        Baldwin   2020   74
Alabama           Clay   2020   86
Alabama         DeKalb   2020   90
Alabama         Elmore   2020   47
Alabama         Etowah   2020   92

In [16]:
new_aqi_1995ms_df.set_index('state_name', inplace=True)
new_aqi_2000ms_df.set_index('state_name', inplace=True)
new_aqi_2005ms_df.set_index('state_name', inplace=True)
new_aqi_2010ms_df.set_index('state_name', inplace=True)
new_aqi_2015ms_df.set_index('state_name', inplace=True)
new_aqi_2020ms_df.set_index('state_name', inplace=True)

In [17]:
new_aqi_2020ms_df.head()

           county_name       dates  aqi defining_parameter
state_name
Alabama        Baldwin  2020-01-01   48              PM2.5
Alabama        Baldwin  2020-01-04   13              PM2.5
Alabama        Baldwin  2020-01-07   14              PM2.5
Alabama        Baldwin  2020-01-10   39              PM2.5
Alabama        Baldwin  2020-01-13   29              PM2.5

In [18]:
new_aqi_2020_df.dtypes

county_name    object
years           int64
aqi             int64
dtype: object

In [19]:
new_aqi_2020ms_df.dtypes

county_name           object
dates                 object
aqi                    int64
defining_parameter    object
dtype: object

In [28]:
## CHANGE "YOURPASSWORD" TO YOUR PASSWORD

In [20]:
rds_connection_string = "postgres:YOURPASSWORD@localhost:5433/air_pollution_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [21]:
engine.table_names()

['overall_aqi']

### Import data to pgA

### 1

In [22]:
new_aqi_1995_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

In [23]:
new_aqi_2000_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

In [24]:
new_aqi_2005_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

In [25]:
new_aqi_2010_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

In [26]:
new_aqi_2015_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

In [27]:
new_aqi_2020_df.to_sql(name = 'overall_aqi',
                       con = engine,
                       if_exists = 'append',
                       index = True)

### 2

In [ ]:
new_aqi_1995ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)

In [ ]:
new_aqi_2000ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)

In [ ]:
new_aqi_2005ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)

In [ ]:
new_aqi_2010ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)

In [ ]:
new_aqi_2015ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)

In [ ]:
new_aqi_2020ms_df.to_sql(name = 'aqi_mm', 
                         con = engine, 
                         if_exists = 'append', 
                         index = True)